header{
    background-color: black;
    padding: 1em 0;
}

header h1{
    color: rgb(0, 177, 0);
    font-size: 2.5em;
    font-weight: 100; /* finita */
    font-style: italic;
    display: inline-block; /* coloca al lado del logo */
    position: relative;
    bottom: 30px;
}